<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Car rental</display-name>
    <welcome-file-list>
        <welcome-file>/views/index.jsp</welcome-file>
    </welcome-file-list>

    <!-- <resource-env-ref>
       <resource-env-ref-name>jdbc/db</resource-env-ref-name>
       <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
     </resource-env-ref>-->

    <!--<error-page>
      <error-code>404</error-code>
      <location>/views/404.jsp</location>
    </error-page>

    <error-page>
      <error-code>400</error-code>
      <location>/views/error_page.jsp</location>
    </error-page>

    <error-page>
      <error-code>500</error-code>
      <location>/views/error_page.jsp</location>
    </error-page>

    <error-page>
      <exception-type>java.lang.Throwable</exception-type>
      <location>/views/informer.jsp</location>
    </error-page>-->

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <!-- add by.shakhrai.epam.web.task.servlet -->

    <!--SignServlet-->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.shakhrai.epam.web.task.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>Controller</url-pattern>
    </servlet-mapping>
    <!--SignServlet-->

    <!--SignServlet-->
    <servlet>
        <servlet-name>SignServlet</servlet-name>
        <servlet-class>by.shakhrai.epam.web.task.servlet.SignServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignServlet</servlet-name>
        <url-pattern>/SignServlet</url-pattern>
    </servlet-mapping>
    <!--SignServlet-->

    <!--IndexServlet-->
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>by.shakhrai.epam.web.task.servlet.IndexServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <!--IndexServlet-->

    <!--SignInServlet-->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>by.shakhrai.epam.web.task.servlet.user.SignInServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/SignInServlet</url-pattern>
    </servlet-mapping>
    <!--SignInServlet-->


    <!--GetAllCarsServlet-->
    <servlet>
        <servlet-name>GetAllCarsServlet</servlet-name>
        <servlet-class>by.shakhrai.epam.web.task.servlet.car.GetAllCarsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetAllCarsServlet</servlet-name>
        <url-pattern>/GetAllCarsServlet</url-pattern>
    </servlet-mapping>
    <!--GetAllCarsServlet-->

    <!--LogOutServlet-->
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>by.shakhrai.epam.web.task.servlet.user.LogOutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <!--GetAllCarsServlet-->


</web-app>
        